* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body, html {
    max-width: 100%;
    color: #26292c;
    font-family: Raleway;
    font-size: 14px;
    overflow-x: hidden;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    text-align: left;
    line-height: 1;
}

body {
	margin: 0;
}

.page-home {
	width: 100%; 
	max-width: 100%;
}

.header .inverse {
	position: fixed;
	border-bottom: solid 1px rgba(255, 255, 255, 0.3);
}

.header .header-public {
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 80px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translate3d(0, 0, 0);
    transition: all ease-in 0.2s;
}